.link {
    text-decoration: none;
    color: inherit;
}

.uppercase {
    text-transform: uppercase;
}

.reset-margin {
    margin: 0;
}

.remove-list-markers {
    list-style: none;
    margin: 0;
    padding: 0;
}